@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #f1ecdf;
  color: #5c383d;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a29d79 #e6dcc8;
}
